* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    display: flex;
    width: 98vw;
}

.panel {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 92vh;
    flex: 0.5;
    position: relative;
    border-radius: 40px;
    margin: 10px;
    transition: flex 0.7s ease-in;
}

.panel h3{
    position: absolute;
    font-size: 3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(255, 255, 255);
    bottom: 40px;
    left: 30px;
    opacity: 0;
    transition: opacity 0.3s ease-in 0.2s;
}

.panel.active {
    flex: 2;
}

.panel.active h3 {
    opacity: 1;
}

@media screen and (max-width: 600px){
    .panel:nth-child(4),
    .panel:nth-child(5){
        display: none;
    }   
}